<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @faculty.fname %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @faculty.lname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @faculty.title %>
</p>

<p>
  <strong>Office:</strong>
  <%= @faculty.office %>
</p>

<p>
  <strong>Email:</strong>
  <%= @faculty.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @faculty.phone %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
